1. Write a program to demonstrate different number data types in Python.

In [6]:
x=5
y=1.5
z='f'
l=[1,2,3]
d={1:1,2:2,3:3}
t=(1,2)
b=True
print("x is of type",type(x))
print("y is of type",type(y))
print("z is of type",type(z))
print("l is of type",type(l))
print("d is of type",type(d))
print("t is of type",type(t))
print("b is of type",type(b))

x is of type <class 'int'>
y is of type <class 'float'>
z is of type <class 'str'>
l is of type <class 'list'>
d is of type <class 'dict'>
t is of type <class 'tuple'>
b is of type <class 'bool'>

2. Write a program to perform different Arithmetic Operations on numbers in Python.

In [8]:
x=int(input("enter an integer"))
y=int(input("enter an integer"))
op=int(input("select the operation u want to perform:\n1.ADD\n2.SUBTRACTION\n3.MULTIPLICATION\n4.DIVISION"))
d={1:(x+y),2:(x-y),3:(x*y),4:(x/y)}
print(d[op])

-4

3. Write a program to create, concatenate and print a string and accessing sub-string from a given string and other string operations

In [9]:
x=input("enter a string")
str=x+"bye"
print(str)

hibye

In [10]:
str[0:2]

'hi'

In [34]:
s1="london"
s1[-1:-7:-1]

'nodnol'

->String operations

In [11]:
str.upper()

'HIBYE'

In [12]:
str.lower()

'hibye'

In [13]:
str.isalpha()

True

In [14]:
str.isalnum()

True

In [15]:
str.isnumeric()

False

In [20]:
str=str.replace('b',' ') 
str

'hi ye'

In [21]:
str.split(" ")

['hi', 'ye']

In [22]:
s="mississippi"
s.count('i')

4

In [25]:
s.find('s',4)

5

In [42]:
len(s)

11

4. Write a program to create, append, and remove lists in python.

In [37]:
l=input().split(" ")
l

['hi', 'bye', 'no', 'yes']

In [39]:
l.append("strawberry")
l

['hi', 'bye', 'no', 'yes', 'strawberry', 'strawberry']

In [41]:
l.remove("strawberry")
l

['hi', 'bye', 'no', 'yes']

In [43]:
l1=['1','2','3','4']
l+l1

['hi', 'bye', 'no', 'yes', '1', '2', '3', '4']

In [45]:
l1.insert(2,"b")
l1

['1', '2', 'b', 'b', '3', '4']

In [47]:
l1.pop(3)

'b'

In [51]:
l1.pop(2)
l1.sort()

In [53]:
l1.insert(0,5)

In [60]:
l1=list(map(int,l1))
l1.sort()
l1

[1, 2, 5]

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
l=[i/2 for i in range(10)]

5. Write a program to demonstrate working with tuples in python.

In [64]:
t=(1,2,3,)
t[1]

2

In [65]:
t1=(3,4,5)
t+t1

(1, 2, 3, 4, 3, 4, 5, 6)

In [69]:
7 in t1

False

In [72]:
max(t)

4

6. Write a program to demonstrate working with dictionaries in python.

In [86]:
d={1:'coke',2:'cranberry juice',3:'fanta'}
d2=list(d.keys())

In [87]:
d1=list(d.values())
d2[d1.index("fanta")]

3

In [77]:
d[1]

'coke'

7. Write a Python function  to convert temperatures to and from Celsius, Fahrenheit.

In [1]:
x=float(input("enter temperature in celsius"))
f=1.8*x+32
print(f)

89.6

In [2]:
f=float(input("enter temperature in fahrenheit"))
x=f/1.8-32
print(x)

21.33333333333333

8. Write a Python program to construct the following pattern, using a nested 

for loop 

#* 

#* * 

#* * * 

#* * * * 

#* * * * * 

#* * * * 

#* * * 

#* * 

#*

In [10]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

9. Write a Python class to convert an integer to a roman numeral.

In [7]:
def roman(x):
    t=int(x/1000)
    h=int((x%1000)/100)
    th=int((x%100)/10)
    u=x%10
    s=""
    if(t):
        for i in range(t):
            s=s+"M"
    if(h):
        if(h<5):
            for i in range(h):
                s=s+"C"
        elif(h>=5):
            s=s+"D"
            for i in range(h%5):
                s=s+"C"
    if(th):
        if(th<5):
            for i in range(th):
                s=s+"X"
        elif(th>=5):
            s=s+"L"
            for i in range(th%5):
                s=s+"L"
    if(u):
        if(u<3):
            for i in range(u):
                s=s+"I"
        elif(u==4):
            s=s+"IV"
        elif(u>=5):
            s=s+"V"
            for i in range(u%5):
                s=s+"I"
    return s
print(roman(3521))

MMMDXXI

10. Write a Python class to reverse a string word by word.

In [4]:
str1="hello New York"
str1[-1:-(len(str1)+1):-1]

'kroY weN olleh'